@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "tailwindcss-motion";
@import "@nuxt/ui";

@theme static {
  --font-sans: Calibri, sans-serif;
  --font-headers: CirceRoundedWeb, sans-serif;
}

:root {
  --ui-primary: black;
  --ui-secondary: #54b948;
  --ui-radius: 0.5rem;
}

.dark {
  --ui-primary: white;
}
