# Session password for Nuxt Auth Utils
NUXT_SESSION_PASSWORD=""

# Main database
DATABASE_URL=""

# URL to media server (probably s3 bucket with static URL)
NUXT_PUBLIC_MEDIA_URL=""

# App version
VERSION=""